body {
    font-family: "Roboto";
    margin: 0;
}

.header {
    display:flex;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    weight: 900;
    font-size: 48px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-left: auto;
}

.hero {
    background-color: #1F2937;
    padding-left: 300px;
    padding-right: 300px;
}

.signup {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    gap: 50px;
}

.main {
    font-size: 48px;
    color: #F9FAF8;
    weight: 900;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}


