@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto";
    margin: 0;
}

.header {
    display:flex;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
    weight: bold;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-left: auto;
}

.hero {
    background-color: #1F2937;
    padding-left: 250px;
    padding-right: 250px;
}

.signup {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    gap: 50px;
}

.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    background-color: grey;
    width: 450px;
    margin-left: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: white;
}

.top {
    margin-top: 20px;
    color: white;
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #3882F6;
    width: 120px;
    font-weight: bold;
    font-size: 16px;
}

.information {
    text-align: center;
    margin: 50px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.box {
    width: 150px;
}

.info-img {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
    margin-bottom: 10px;
}

.subtext {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
}

.content {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.author {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

.stuff {
    margin-left: 320px;
    margin-right: 320px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.ad {
    margin: 100px 200px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px 100px;
}

.adtext {
    color: white;
}

.adcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action {
    font-size: 24px;
    font-weight: bold;
}

.bottom {
    color: white;
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    width: 120px;
    font-weight: bold;
    font-size: 16px;
}
